/* Minden oldalnál */

h1 {
font-family: Arial, Helvetica, sans-serif;
color: slategray;
}

h2 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-family: 'Times New Roman', Times, serif;
}

.mediaCim {
font-family:'Courier New', Courier, monospace ;

}

p {
  font-family: 'Times New Roman', Times, serif;



}


main {

  margin-bottom: -18px;
}

header {

  text-align: center;
  height: 90px;
  padding-top: 50px;

}

.felso {

  margin-left: -8px;
  margin-right: -8px;

}



nav {
  grid-area: n;
  background-color: cadetblue;
  position: fixed;
  top: 0;
  width: 100%;
}

.navigacio {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 20px;
}


.kezdo {
  float: left;

}

li {
  float: right;


}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 45px;
  text-decoration: none;
  font-weight: bolder;
}



li a:hover,
.dropdown:hover .dropbtn {
  background-color: blanchedalmond;
  color: black;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 137px;


}

.dropdown-content a {
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.elvalaszto {
  border-right: 2px solid black;
}

.dropdown-content a:hover {
  background-color: blanchedalmond;

}

.dropdown:hover .dropdown-content {
  display: flex;
}

.hobbiLogo {

  width: 40px;

}





.also {
  width: 80%;
  margin: auto;
  padding-bottom: 40px;

}

footer {
  text-align: center;
  background-color: cadetblue;
  padding-bottom: 22px;
  height: 50px;
  padding-top: 8px;
  margin-left: -8px;
  margin-right: -8px;
  font-size: 22px;
 
}

.kicsi {
  position: fixed;
  bottom: 0;
  width: 100%;


}

h4 {
  margin-top: 15px;
}



/* Projektjeim */


.projektCim {
  text-align: center;
}

.projektek {
  width: 100%;
}

.csoport {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;


}

.projekt {
  width: 70%;
  padding-bottom: 50px;


  border: 1px solid black;

}

.programCim {
  text-align: center;
}


.programLogo {
  margin: auto;
  padding-left: 10%;
  margin-left: 50px;
  padding-top: 10px;
  width: fit-content;

}

.webProgram {
  width: 60%;
}

.pythonProgram {
  width: 60%;
}

.javaProgram {
  width: 95%;
  margin-left: -33px;
}



.gomb {
  margin: auto;
  padding-bottom: 5px;
  padding-top: 20px;
  width: 20%;
}




/*  elérhetőségi oldal  */
.alsoEleres {

  width: 100%;
  
}


.eleres {
  width: 40%;
  margin: auto;
  padding: 0px;
  padding-top: 180px;
}

.informacio {
  border: 1px solid black;
  padding-bottom: 10px;
  padding-top: 15px;
  width: 100%;
}

h1 {

  margin-left: 20px;
}

.fej {
  padding-bottom: 30px;
}

.logo1 {
  width: 80%;
}

.logo2 {
  width: 70%;
}

.logo3 {

  width: 60%;

}


.eleroLogo {
  margin: auto;
  padding-left: 70%;
}



.uzenet {
  list-style-type: none;


}

.adat {
  display: grid;
  grid-template-columns: 1fr 3fr;

}

.eszkoz {
  text-align: left;
}


.facebook {
  color: black;
  text-decoration: none;
}

.facebook:hover {
  color: blue;
}

/* Hobbi  */


.hobbiSzeret {
  width: 70%;
  margin: auto;
  padding: 0px;
}


aside {
  margin: auto;
  padding: 0px;
  margin-top: -20px;
  width: 90%;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  

}


.hobbi {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'cim ures'
    'iras video';
  border: 1px solid black;
  margin-top: 20px;
  width: 100%;
  background-color: whitesmoke;

}

.hobbiCim {
  grid-area: cim;
  text-align: center;

  margin-top: 35px;
  margin-bottom: -15px;
  padding-right: 5px;
}

.hobbiUres {
  grid-area: ures;
  height: 0px;
}

.hobbiKiiras {
  grid-area: iras;
  padding: 10px;
}





.hobbiVideo {
  margin: auto;
  padding: 0px;
  grid-area: video;
  margin-top: -70px;
}

.video {
  width: 350px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.lista {
  margin: auto;
  padding: 0px;
  width: 50%;
}




 th, td {
  border: 1px solid black;
  width: 50%;
}

thead {
  text-align: center;
  font-weight: bolder;
  font-size: 24px;
  background-color: black;
  color: white;

}

tbody {
  font-size: 18px;
  background-color: gray;
  color: white;
}




/* index  */



.tartalom {
  display: grid;
  grid-template-columns: 2fr 0.3fr 2fr;
  padding-bottom: 70px;
  margin-left: 60px;
  margin-right: 60px;
  

}
.ures {
  width: 100%;
}


.cim {
  margin-bottom: 45px;
 
  
}




.szinhaz {

display: grid;
grid-template-columns: 1fr 1fr;


}


.szinhaziKep {


width: 95%;
margin-top: 80px;

}


.tavoktatas {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr;

}

.rolamKep {
  margin: auto;
  padding: 10px;
width: 100%;

}



.kiiras {

 width: 80%; 
 padding-left: 20px;
 
}

.dokumentum {
  text-align: center;
 width: 100%;
}

.tavKep {
  margin: auto;
  padding: 0px;
width: 200px ;

}


.rolamKep {
  width: 100%;
}


.tavGomb {
  margin: auto;
  padding: 0px;
  width: 15%;

}

.projektem {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: gray;
}






.erettsegi {
margin: auto;
padding: 0px;
width: 70%;
text-align: center;

padding-bottom: 50px;

}

.tablazat {
margin: auto;
padding: 0px;
width: 300px;
border-collapse: collapse;
border: none;

}







.fej {
  text-align: center;
  font-weight: bolder;
  font-size: 24px;
  background-color: white;
  color: black;

}

.test {
  font-size: 18px;
  background-color: whitesmoke;
  color: black;
}



.visz, .fug {
width: 5%;
}

.visz1 {
border: none;
}






@media screen and (max-width: 1300px ) {


  .tablazat {

    font-size: 20px;
  }

  .also {

    width: 90%;
  }


.csoport {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;

 
}

.projekt {

padding-bottom: 50px;

}





  .hobbi {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'ures'
      'cim'
      'video'
       'iras';
    border: 1px solid black;
    width: 100%;
    height: fit-content;



}

.hobbiCim {

padding-bottom: 80px;
color: black;

}



table {


margin: auto;
padding: 0px;
width: 40%;
}

.eleres {

  width: 55%;
}



.tartalom {

  display: grid;
  grid-template-columns: 1fr;
}


.lista {

  margin: 0px;
}


}

  

@media screen and (max-width: 850px ) {
  
  .tablazat {

    font-size: 24px;
  }




  .also {

    width: 100%;
  }
  
.hobbi {

width: 70%;

}

.visz {

font-size: 18px;

}


  td {

    font-size: small;
    

  }


  

  .csoport {
    display: grid;
    grid-template-columns: 1fr 1fr ;

  
   
  }
  
  aside {

    display: grid;
    grid-template-columns: 1fr;
  
  }



  .eleres {

width: 70%;

  }


  .szinhaz {
    display: grid;
  grid-template-columns: 1fr;
    
  }


  .tavoktatas {

    display: grid;
    grid-template-columns: 1fr;

  }


    
  }
  @media screen and (max-width: 700px ) {


   
      aside {
        margin: auto;
        padding: 0px;
        margin-top: -20px;
        width: 50%;
        padding-left: 0px;
        
        
        padding-bottom: 50px;
        
      }

      


    

    .kezdo {

width: 100%;
text-align: center;
float: inline-end;

    }

   li {

    float: inline-start;
    margin: auto;
    padding: 0px;
    margin-left: -13px;
    margin-right: -13px;
   } 

   header {
margin-top: 50px;


   }


    .eleresMenu {

      width: 20px;

    }

    .csoport {
      display: grid;
      grid-template-columns: 1fr ;
      margin: auto;
      padding: 0px;
      width: 100%;
      
  

     
  
    
     
    }

    .projektek {

      margin: auto;
      padding: 0px;
      width: 70%;
    
      
    }
    
      
    .eleres {

      width: 100%;
      
        }


        aside {

         width:  100%;
        }


        .hobbi{

          width: 70%;
          padding-right: -60px;
        }


        .video {
          width: 300px;
        }

    }


    @media screen and (max-width: 500px ) {
      .video {
        width: 250px;
      }



      
    }